<div class="col-lg-12 mt">
    <div class="row content-panel" style="padding-left: 20px; padding-right: 20px; padding-bottom: 20px">
        <h2 style="color: #29AAE3"><i class="fa fa-line-chart" style="margin-right: 4px"></i> Reporting</h2>
        <hr />
        <a href="@Url.Action("TransfersByDomain", "Reporting")" class="btn btn-theme btn-md">Transfers by Domain</a>
        <a href="@Url.Action("TransfersByEmployee", "Reporting")" class="btn btn-theme btn-md">Transfers by Employee</a>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#report').addClass("active");
        });
    </script>
}
