
@{
    ViewBag.Title = "Forms";
}

<div class="widget-header" style="margin-bottom: 40px">
    <h3 style="color: #29AAE3"><i class="fa fa-archive"></i> Forms</h3>
    <hr />
</div>

<!-- FORM TILES -->
<div class="row">
    <a href="~/assets/forms/Anomaly_EmployeePTO.pdf" target="_blank">
        <div class="col-md-4 col-sm-4 mb">
            <div class="white-panel pn">
                <div class="white-header" style="background-color: #29AAE3; color: white">
                    <h5>PAID TIME OFF</h5>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-6 goleft">
                        <p><i class="fa fa-file"></i> 917 KB</p>
                    </div>
                    <div class="col-sm-6 col-xs-6"></div>
                </div>
                <div class="centered">
                    <img src="~/assets/img/PTO.png" style="width: 200px; margin-top: -40px">
                </div>
            </div>
        </div>
    </a>

    <a href="~/assets/forms/A2_DisciplinaryAction.pdf" target="_blank">
        <div class="col-md-4 col-sm-4 mb">
            <div class="white-panel pn">
                <div class="white-header" style="background-color: #29AAE3; color: white">
                    <h5>DISCIPLINARY ACTION</h5>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-6 goleft">
                        <p><i class="fa fa-file"></i> 436 KB</p>
                    </div>
                    <div class="col-sm-6 col-xs-6"></div>
                </div>
                <div class="centered">
                    <img src="~/assets/img/DisciplinaryAction.png" style="width: 200px; margin-top: -40px">
                </div>
            </div>
        </div>
    </a>

    <a href="~/assets/forms/Anomaly_AccessControl.pdf" target="_blank">
        <div class="col-md-4 col-sm-4 mb">
            <div class="white-panel pn">
                <div class="white-header" style="background-color: #29AAE3; color: white">
                    <h5>ACCESS CONTROL</h5>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-6 goleft">
                        <p><i class="fa fa-file"></i> 860 KB</p>
                    </div>
                    <div class="col-sm-6 col-xs-6"></div>
                </div>
                <div class="centered">
                    <img src="~/assets/img/AccessControl.png" style="width: 200px; margin-top: -40px">
                </div>
            </div>
        </div>
    </a>

    <a href="~/assets/forms/Anomaly_BonusPayment.pdf" target="_blank">
        <div class="col-md-4 col-sm-4 mb">
            <div class="white-panel pn">
                <div class="white-header" style="background-color: #29AAE3; color: white">
                    <h5>BONUS PAYMENT</h5>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-6 goleft">
                        <p><i class="fa fa-file"></i> 886 KB</p>
                    </div>
                    <div class="col-sm-6 col-xs-6"></div>
                </div>
                <div class="centered">
                    <img src="~/assets/img/BonusPayment.png" style="width: 200px; margin-top: -40px">
                </div>
            </div>
        </div>
    </a>

    <a href="~/assets/forms/Anomaly_EmployeeStatusChange.pdf" target="_blank">
        <div class="col-md-4 col-sm-4 mb">
            <div class="white-panel pn">
                <div class="white-header" style="background-color: #29AAE3; color: white">
                    <h5>EMPLOYEE STATUS CHANGE</h5>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-6 goleft">
                        <p><i class="fa fa-file"></i> 967 KB</p>
                    </div>
                    <div class="col-sm-6 col-xs-6"></div>
                </div>
                <div class="centered">
                    <img src="~/assets/img/StatusChange.png" style="width: 200px; margin-top: -40px">
                </div>
            </div>
        </div>
    </a>

    <a href="~/assets/forms/Anomaly-Insertion-Order-Form.pdf" target="_blank">
        <div class="col-md-4 col-sm-4 mb">
            <div class="white-panel pn">
                <div class="white-header" style="background-color: #29AAE3; color: white">
                    <h5>INSERTION ORDER</h5>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-6 goleft">
                        <p><i class="fa fa-file"></i> 147 KB</p>
                    </div>
                    <div class="col-sm-6 col-xs-6"></div>
                </div>
                <div class="centered">
                    <img src="~/assets/img/InsertionOrder.png" style="width: 200px; margin-top: -40px">
                </div>
            </div>
        </div>
    </a>
    
    <a href="~/assets/forms/BusinessExpenseReimb_Policy.pdf" target="_blank">
        <div class="col-md-4 col-sm-4 mb">
            <div class="white-panel pn">
                <div class="white-header" style="background-color: #29AAE3; color: white">
                    <h5>EXPENSE REIMBURSEMENT</h5>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-6 goleft">
                        <p><i class="fa fa-file"></i> 956 KB</p>
                    </div>
                    <div class="col-sm-6 col-xs-6"></div>
                </div>
                <div class="centered">
                    <img src="~/assets/img/ExpenseReimbursement.png" style="width: 200px; margin-top: -40px">
                </div>
            </div>
        </div>
    </a>

    <a href="~/assets/forms/PayrollDeduction.pdf" target="_blank">
        <div class="col-md-4 col-sm-4 mb">
            <div class="white-panel pn">
                <div class="white-header" style="background-color: #29AAE3; color: white">
                    <h5>PAYROLL DEDUCTION</h5>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-6 goleft">
                        <p><i class="fa fa-file"></i> 984 KB</p>
                    </div>
                    <div class="col-sm-6 col-xs-6"></div>
                </div>
                <div class="centered">
                    <img src="~/assets/img/PayrollDeduction.png" style="width: 200px; margin-top: -40px">
                </div>
            </div>
        </div>
    </a>

    <a href="~/assets/forms/AnomalySquared_EmployeeHandbook_V.2.02.pdf" target="_blank">
        <div class="col-md-4 col-sm-4 mb">
            <div class="white-panel pn">
                <div class="white-header" style="background-color: #29AAE3; color: white">
                    <h5>EMPLOYEE HANDBOOK</h5>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-6 goleft">
                        <p><i class="fa fa-file"></i> 2.49 MB</p>
                    </div>
                    <div class="col-sm-6 col-xs-6"></div>
                </div>
                <div class="centered">
                    <img src="~/assets/img/EmployeeHandbook.png" style="width: 200px; margin-top: -40px">
                </div>
            </div>
        </div>
    </a>

    <a href="~/assets/forms/EmployeeLoanForm.pdf" target="_blank">
        <div class="col-md-4 col-sm-4 mb">
            <div class="white-panel pn">
                <div class="white-header" style="background-color: #29AAE3; color: white">
                    <h5>EMPLOYEE LOAN FORM</h5>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-6 goleft">
                        <p><i class="fa fa-file"></i> 861 KB</p>
                    </div>
                    <div class="col-sm-6 col-xs-6"></div>
                </div>
                <div class="centered">
                    <img src="~/assets/img/EmployeeLoan.png" style="width: 200px; margin-top: -40px">
                </div>
            </div>
        </div>
    </a>

    <a href="~/assets/forms/IncidentReportForm.pdf" target="_blank">
        <div class="col-md-4 col-sm-4 mb">
            <div class="white-panel pn">
                <div class="white-header" style="background-color: #29AAE3; color: white">
                    <h5>INCIDENT REPORT FORM</h5>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-6 goleft">
                        <p><i class="fa fa-file"></i> 962 KB</p>
                    </div>
                    <div class="col-sm-6 col-xs-6"></div>
                </div>
                <div class="centered">
                    <img src="~/assets/img/IncidentReport.png" style="width: 200px; margin-top: -40px">
                </div>
            </div>
        </div>
    </a>

    <a href="~/assets/forms/Anomaly Petty Cash.xlsx" @*target="_blank"*@>
        <div class="col-md-4 col-sm-4 mb">
            <div class="white-panel pn">
                <div class="white-header" style="background-color: #29AAE3; color: white">
                    <h5>PETTY CASH</h5>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-6 goleft">
                        <p><i class="fa fa-file"></i> 8 KB</p>
                    </div>
                    <div class="col-sm-6 col-xs-6"></div>
                </div>
                <div class="centered">
                    <img src="~/assets/img/PettyCash.png" style="width: 200px; margin-top: -40px">
                </div>
            </div>
        </div>
    </a>

    <a href="~/assets/forms/AnomalySquared_Expense Report.xlsx" @*target="_blank"*@>
        <div class="col-md-4 col-sm-4 mb">
            <div class="white-panel pn">
                <div class="white-header" style="background-color: #29AAE3; color: white">
                    <h5>EXPENSE REPORT</h5>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-6 goleft">
                        <p><i class="fa fa-file"></i> 10 KB</p>
                    </div>
                    <div class="col-sm-6 col-xs-6"></div>
                </div>
                <div class="centered">
                    <img src="~/assets/img/ExpenseReport.png" style="width: 200px; margin-top: -40px">
                </div>
            </div>
        </div>
    </a>

    <a href="~/assets/forms/Anomaly_Employment_Application_2016_V2.pdf" target="_blank">
        <div class="col-md-4 col-sm-4 mb">
            <div class="white-panel pn">
                <div class="white-header" style="background-color: #29AAE3; color: white">
                    <h5>APPLICATION PACKET</h5>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-6 goleft">
                        <p><i class="fa fa-file"></i> 659 KB</p>
                    </div>
                    <div class="col-sm-6 col-xs-6"></div>
                </div>
                <div class="centered">
                    <img src="~/assets/img/ApplicationPacket.png" style="width: 200px; margin-top: -40px">
                </div>
            </div>
        </div>
    </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#forms').addClass("active");
        });
    </script>
}